<div class="footer">
  <div class="address">
    <div class="logo">
      <i class="fa-solid fa-plane-departure"></i> <a>HT_Travel</a>
    </div>
    <div class="info-address">
      <p>
        <i class="fa-solid fa-location-dot"></i>&nbsp;29 Phạm thận duật - Hòa
        Hải - Ngũ Hành Sơn - Đà Nẵng
      </p>
      <p><i class="fa-solid fa-square-phone"></i>&nbsp;0349354231</p>
    </div>
  </div>
  <div class="contact">
    <i class="fa-solid fa-envelope"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-telegram"></i>
    <i class="fa-brands fa-youtube"></i>
  </div>
</div>
